[Unit]
Description=Dashboard start

[Service]
Restart=always
WorkingDirectory=/app           # CHANGE WITH YOUR PROJECT DIRECTORY
User=root                       # CHANGE WITH YOUR USER
ExecStart=make docker

[Install]
WantedBy=multi-user.target